{% load i18n %}
{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>ShortShort</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<!-- meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#FFF">
	</head>
	<body style="width: 100vw;background-repeat: no-repeat;font-family: Montserrat, sans-serif;max-width: 500px;vertical-align: middle;margin-left: auto;margin-right: auto;"> 
		<h1 style="text-align: center;">ShortShort</h1> 
		<a style="text-decoration: none; color: #000;" href="https://shortshort.pythonanywhere.com/4">&ensp;<img width="15px" height="15px"src="{% static "tg.svg" %}" alt="Telegram"></img>&ensp;{% trans "Telegram bot"%}</a><br>
		<a href="https://shortshort.pythonanywhere.com/5" style="text-decoration: none; color: #000;"><img width="30px" height="30px" src="{% static "vk.svg" %}" alt="Telegram"></img>{% trans "VK bot"%}</a></br>
		<a href="https://shortshort.pythonanywhere.com/2" style="text-decoration: none; color: #000;">&ensp; {% trans "Source code"%}</a>
	</body>
</html>